* {
    font-family: 'Rambla', sans-serif;
}

html {
    overflow: hidden;
}

body {
    display: flex;
}

#scores {
    height: 800px;
    overflow: auto;
}

canvas {
    justify-self: center;
    width: 100% !important;
    height: 100% !important;
    background-image: url("hexagon.png");
    background-size: 50% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}