* {
    font-family: 'Rambla', sans-serif;
    color: white;
}

body {
    background-color: rgb(51, 51, 51);
}

#home {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -500px;
    transition: margin 1s ease-out;
}

#quiz {
    display: none;
    flex-direction: row;
    justify-content: center;
}

#questionNumber {
    text-align: center;
    margin-top: 8%;
    color: white;
    font-size: 5rem;
}

#questionText {
    text-align: center;
    margin-top: 10%;
    color: white;
}

span.input-group-text {
    color: white;
    font-size: 4em;
}

#scores {
    display: none;
    flex-direction: column;
}

#header {
    font-size: 5em;
    text-align: center;
    padding: 2%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1.5%;
    background-color: rgb(61, 61, 61);
    border: 5px solid black;
}

#diagrams {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#results-title {
    text-align: center;
}

#hexagons {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 60%;
    margin-left: 3%;
    background-color: rgb(61, 61, 61);
    border: 5px solid black;
}

#axes {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 30%;
    margin-left: 3.5%;
    background-color: rgb(61, 61, 61);
    border: 5px solid black;
}

canvas.graph {
    justify-self: center;
    width: 50% !important;
    height: 100% !important;
    background-image: url("hexagon.png");
    background-size: 50% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

canvas.axis {
    justify-self: center;
    width: 100% !important;
    height: 25% !important;
    background-image: url("axis0.png");
    background-size: 100% 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

a {
    cursor: pointer;
}